@import url("https://fonts.googleapis.com/css2?family=Lobster&family=PT+Sans+Narrow&display=swap");

.banner-container {
  height: 500px;
  background-color: #123d23;
  width: 100%;
}
.banner {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: white;
  padding-top: 5em;
}
.photo img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-left: 10em;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}
.name {
  font-family: "Lobster", cursive;
  font-size: 1.5rem;
}
.typical {
  text-align: center;
  clear: right;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.2rem;
}

.job {
  font-size: 1.5rem;
  font-family: "Lobster", cursive;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  width: 100%;
}
.btn {
  background-color: white;
  text-transform: capitalize;
  border: none;
  color: #123d23;
  border-radius: 20px;
  padding: 0.5em 0em;
  margin: 0 4em;
  width: 13%;
  font-family: "PT Sans Narrow", sans-serif;
}

@media (max-width: 1000px) {
  .banner-container {
    height: 600px;
  }
  .banner {
    display: flex;
    flex-direction: column;
    padding-top: 0em;
  }
  .photo {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
  }
  .photo img {
    margin-left: 0em;
  }
  .btn {
    margin: 0 4em;
    width: 20%;
    font-family: "PT Sans Narrow", sans-serif;
  }
  
}
@media (max-width: 600px) {
  .job {
    font-size: 1rem;
    font-family: "Lobster", cursive;
    text-align: center;
    width: 80%;
  }
  .name {
    font-family: "Lobster", cursive;
    font-size: 1rem;
    text-align: center;
    width: 80%;
  }
  .btn{
    margin: 0 2em;
    width: 50%;
    font-family: "PT Sans Narrow", sans-serif;
  }
}
